@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 10px;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.header {
  color: white;
}

.nav__list-item,
.section__text,
.clients__review,
.clients__position,
.footer__item {
  font-family: "Barlow";
  text-align: center;
}

.nav__list-btn,
.header__phrase,
.section__title,
.section__learn-more,
.clients__title,
.clients__name {
  font-family: "Fraunces";
  text-align: center;
}

.nav__list-item,
.section__text,
.clients__review {
  font-size: 1.1rem;
}

.nav__list-item a {
  color: #818498;
}

.nav__list-btn {
  text-transform: uppercase;
  font-size: 1rem;
}

.nav__list-btn a {
  color: #23303e;
}

.header__phrase {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.section__title {
  font-size: 2rem;
  color: #23303e;
  font-weight: 900;
}

.section__learn-more {
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #23303e;
}

.section__text {
  line-height: 1.7;
  color: #818498;
}

.section__img--graphic-design .section__title,
.section__img--graphic-design .section__text {
  color: #25564b;
}

.section__img--photography .section__title,
.section__img--photography .section__text {
  color: #19536b;
}

.clients__title {
  color: #818498;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 900;
}

.clients__review {
  line-height: 1.7;
  color: #5a636c;
}

.clients__name {
  font-size: 1.1rem;
  font-weight: 900;
}

.clients__position {
  font-size: 0.85rem;
  color: #818498;
}

.footer__item {
  font-size: 1.1rem;
}

.footer__item a {
  color: #458c7e;
}

.nav {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #3ebfff;
}

.nav__logo {
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav__menu {
  border: none;
  background: transparent;
}

.nav__menu-btn {
  width: 25px;
  height: 2px;
  position: relative;
  background: transparent;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav__menu-btn::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav__menu-btn::after {
  content: "";
  width: 25px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav__list {
  position: absolute;
  top: 15vh;
  left: 50%;
  width: 90%;
  height: 40vh;
  padding: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  list-style-type: none;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

.nav__list::before {
  content: "";
  position: absolute;
  top: -25px;
  right: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 50px solid white;
}

.nav__list-item {
  color: black;
}

.nav__list-btn {
  background: #fad400;
  border-radius: 50px;
  padding: 1em 2em;
}

.nav.hide .nav__list {
  opacity: 0;
  top: 10vh;
}

.nav.hide .nav__menu-btn {
  background: white;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.nav.hide .nav__menu-btn::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: -8px;
  left: 0px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.nav.hide .nav__menu-btn::after {
  content: "";
  width: 25px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 8px;
  left: 0px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.header {
  background: url("../images/mobile/image-header.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__phrase {
  margin: 1em 0;
}

.header__arrow {
  width: 35px;
  margin: 0 auto;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
}

.section__img {
  background-size: cover;
  background-position: center;
}

.section__img.section__block {
  padding-top: 35vh;
}

.section__img--transform {
  background-image: url("../images/mobile/image-transform.jpg");
}

.section__img--transform + .section__block .section__learn-more::after {
  background-color: #fad400;
}

.section__img--stand-out {
  background-image: url("../images/mobile/image-stand-out.jpg");
}

.section__img--stand-out + .section__block .section__learn-more::after {
  background-color: #fe7867;
}

.section__img--graphic-design {
  background-image: url("../images/mobile/image-graphic-design.jpg");
}

.section__img--photography {
  background-image: url("../images/mobile/image-photography.jpg");
}

.section__title {
  margin: 0.75em 0;
}

.section__text {
  margin-bottom: 2em;
}

.section__learn-more {
  margin-bottom: 2em;
  position: relative;
}

.section__learn-more::after {
  content: "";
  display: block;
  height: 10px;
  width: 115%;
  border-radius: 20px;
  opacity: 0.25;
  z-index: -1;
  top: 0.8em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__title {
  margin: 3em 0 2em 0;
}

.clients__container {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.clients__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3em;
}

.clients__img, .clients__review {
  margin-bottom: 1em;
}

.clients__img {
  width: 70px;
  border-radius: 100px;
}

.clients__name {
  margin-bottom: 0.75em;
}

.examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.examples__img {
  max-width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background-color: #82c9ba;
  padding: 4em;
}

.footer__logo {
  height: 7.25em;
  margin: 0 auto;
  padding: 2em;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
  padding: 2em 0;
}

.footer__list:last-child {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3em;
}

@media (min-width: 768px) {
  .nav__list-item a {
    color: white;
  }
  .nav__list-btn a {
    color: #23303e;
  }
  .header__phrase {
    font-size: 3.5rem;
  }
  .section__title {
    font-size: 2.3rem;
  }
  .section__text {
    font-size: 1.2rem;
  }
  .section__img .section__title {
    font-size: 2rem;
  }
  .section__img .section__text {
    font-size: 1.1rem;
  }
  .clients__title {
    font-size: 1.3rem;
  }
  .nav__menu {
    display: none;
  }
  .nav__logo {
    height: 30px;
  }
  .nav__list {
    opacity: 1 !important;
    position: static;
    background: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: auto;
    height: auto;
    -webkit-filter: none;
            filter: none;
    gap: 2em;
    -webkit-transform: none;
            transform: none;
  }
  .nav__list::before {
    display: none;
  }
  .nav__list-btn {
    background-color: white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .nav__list-btn:hover {
    cursor: pointer;
    background-color: #8ecfff;
  }
  .nav__list-btn:hover a {
    color: white;
  }
  .header {
    background: url("../images/desktop/image-header.jpg");
    background-size: cover;
    background-position: center;
  }
  .section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section__block {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    height: 40vw;
    min-height: 500px;
    max-height: 650px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section__img--transform {
    background-image: url("../images/desktop/image-transform.jpg");
  }
  .section__img--stand-out {
    background-image: url("../images/desktop/image-stand-out.jpg");
  }
  .section__img--graphic-design {
    background-image: url("../images/desktop/image-graphic-design.jpg");
  }
  .section__img--photography {
    background-image: url("../images/desktop/image-photography.jpg");
  }
  .section:first-of-type .section__block:first-of-type {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .section__learn-more:hover {
    cursor: pointer;
  }
  .section__learn-more:hover::after {
    opacity: 1;
  }
  .clients {
    padding: 2em;
  }
  .clients__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
  }
  .examples {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .examples__img {
    max-width: 25%;
  }
  .footer__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }
  .footer__item a:hover {
    color: white;
  }
  .footer__item a:hover img {
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
  }
}
/*# sourceMappingURL=main.css.map */