@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 10px;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

// Typography

.header {
  color: $white;
}

.nav__list-item,
.section__text,
.clients__review,
.clients__position,
.footer__item {
  font-family: "Barlow";
  text-align: center;
}

.nav__list-btn,
.header__phrase,
.section__title,
.section__learn-more,
.clients__title,
.clients__name {
  font-family: "Fraunces";
  text-align: center;
}

.nav__list-item,
.section__text,
.clients__review {
  font-size: 1.1rem;
}

.nav__list-item a {
  color: $dark-grayish-blue;
}

.nav__list-btn {
  text-transform: uppercase;
  font-size: 1rem;

  a {
    color: $very-dark-desaturated-blue;
  }
}

.header__phrase {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.section__title {
  font-size: 2rem;
  color: $very-dark-desaturated-blue;
  font-weight: 900;
}

.section__learn-more {
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  color: $very-dark-desaturated-blue;
}

.section__text {
  line-height: 1.7;
  color: $dark-grayish-blue;
}

.section__img--graphic-design .section__title,
.section__img--graphic-design .section__text {
  color: $dark-desaturated-cyan;
}

.section__img--photography .section__title,
.section__img--photography .section__text {
  color: $dark-blue;
}

.clients__title {
  color: $dark-grayish-blue;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 900;
}

.clients__review {
  line-height: 1.7;
  color: $very-dark-grayish-blue;
}

.clients__name {
  font-size: 1.1rem;
  font-weight: 900;
}

.clients__position {
  font-size: 0.85rem;
  color: $dark-grayish-blue;
}

.footer__item {
  font-size: 1.1rem;

  a {
    color: $dark-moderate-cyan;
  }
}

// Layout

.nav {
  // background-color: $dark-blue;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #3ebfff;

  &__logo {
    height: 25px;
    object-fit: cover;
  }

  &__menu {
    border: none;
    background: transparent;

    &-btn {
      width: 25px;
      height: 2px;
      position: relative;
      background: transparent;
      transform: rotate(360deg);
      transition: 0.5s;

      &::before {
        content: "";
        width: 25px;
        height: 2px;
        background-color: $white;
        position: absolute;
        top: 0px;
        left: 0px;
        transform: rotate(45deg);
      }

      &::after {
        content: "";
        width: 25px;
        height: 2px;
        background-color: $white;
        position: absolute;
        top: 0px;
        left: 0px;
        transform: rotate(-45deg);
      }
    }
  }

  &__list {
    position: absolute;
    top: 15vh;
    left: 50%;
    width: 90%;
    height: 40vh;
    padding: 0;
    transform: translateX(-50%);
    list-style-type: none;
    background: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
    filter: drop-shadow(0 0 5px hsla(0, 0, 0, 0.3));

    &::before {
      content: "";
      position: absolute;
      top: -25px;
      right: 0;
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;

      border-right: 50px solid $white;
    }

    &-item {
      color: black;
    }

    &-btn {
      background: $yellow;
      border-radius: 50px;
      padding: 1em 2em;
    }
  }

  &.hide {
    .nav__list {
      opacity: 0;
      top: 10vh;
    }

    .nav__menu-btn {
      background: $white;
      transform: rotate(0deg);

      &::before {
        content: "";
        width: 25px;
        height: 2px;
        background-color: $white;
        position: absolute;
        top: -8px;
        left: 0px;
        transform: rotate(0);
      }

      &::after {
        content: "";
        width: 25px;
        height: 2px;
        background-color: $white;
        position: absolute;
        top: 8px;
        left: 0px;
        transform: rotate(0);
      }
    }
  }
}

.header {
  background: url("../images/mobile/image-header.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__phrase {
    margin: 1em 0;
  }

  &__arrow {
    width: 35px;
    margin: 0 auto;
  }
}

.section {
  display: flex;
  flex-direction: column;

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
  }

  &__img {
    background-size: cover;
    background-position: center;

    &.section__block {
      padding-top: 35vh;
    }

    &--transform {
      background-image: url("../images/mobile/image-transform.jpg");

      & + .section__block .section__learn-more::after {
        background-color: $yellow;
      }
    }

    &--stand-out {
      background-image: url("../images/mobile/image-stand-out.jpg");

      & + .section__block .section__learn-more::after {
        background-color: $soft-red;
      }
    }

    &--graphic-design {
      background-image: url("../images/mobile/image-graphic-design.jpg");
    }

    &--photography {
      background-image: url("../images/mobile/image-photography.jpg");
    }
  }

  &__title {
    margin: 0.75em 0;
  }

  &__text {
    margin-bottom: 2em;
  }

  &__learn-more {
    margin-bottom: 2em;
    position: relative;

    &::after {
      content: "";
      display: block;
      height: 10px;
      width: 115%;
      border-radius: 20px;
      opacity: 0.25;
      z-index: -1;
      top: 0.8em;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      transition: 0.3s;
    }
  }
}

.clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    margin: 3em 0 2em 0;
  }

  &__container {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
  }

  &__img,
  &__review {
    margin-bottom: 1em;
  }

  &__img {
    width: 70px;
    border-radius: 100px;
  }

  &__name {
    margin-bottom: 0.75em;
  }
}

.examples {
  display: flex;
  flex-wrap: wrap;

  &__img {
    max-width: 50%;
    object-fit: cover;
  }
}

.footer {
  background-color: $cyan;
  padding: 4em;

  &__logo {
    height: 7.25em;
    margin: 0 auto;
    padding: 2em;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    padding: 2em 0;

    &:last-child {
      justify-content: center;
      gap: 3em;
    }
  }

  &__item {
  }
}

@media (min-width: 768px) {
  //Typography

  .nav__list-item a {
    color: $white;
  }
  .nav__list-btn a {
    color: $very-dark-desaturated-blue;
  }

  .header__phrase {
    font-size: 3.5rem;
  }

  .section__title {
    font-size: 2.3rem;
  }

  .section__text {
    font-size: 1.2rem;
  }

  .section__img .section__title {
    font-size: 2rem;
  }

  .section__img .section__text {
    font-size: 1.1rem;
  }

  .clients__title {
    font-size: 1.3rem;
  }

  // Layout
  .nav__menu {
    display: none;
  }

  .nav__logo {
    height: 30px;
  }

  .nav__list {
    opacity: 1 !important;
    position: static;
    background: transparent;
    flex-direction: row;
    justify-content: flex-end;
    width: auto;
    height: auto;
    filter: none;
    gap: 2em;
    transform: none;

    &::before {
      display: none;
    }
  }

  .nav__list-btn {
    background-color: $white;
    transition: 0.5s;

    &:hover {
      a {
        color: $white;
      }
      cursor: pointer;
      background-color: #8ecfff;
    }
  }

  .header {
    background: url("../images/desktop/image-header.jpg");
    background-size: cover;
    background-position: center;
  }

  .section {
    flex-direction: row;

    &__block {
      flex: 50%;
      height: 40vw;
      min-height: 500px;
      max-height: 650px;
      justify-content: center;
    }

    &__img {
      &--transform {
        background-image: url("../images/desktop/image-transform.jpg");
      }
      &--stand-out {
        background-image: url("../images/desktop/image-stand-out.jpg");
      }
      &--graphic-design {
        background-image: url("../images/desktop/image-graphic-design.jpg");
      }
      &--photography {
        background-image: url("../images/desktop/image-photography.jpg");
      }
    }
  }

  .section:first-of-type .section__block:first-of-type {
    order: 2;
  }

  .section__learn-more:hover {
    cursor: pointer;
    &::after {
      opacity: 1;
    }
  }

  .clients {
    padding: 2em;
  }

  .clients__container {
    flex-direction: row;
    gap: 50px;
  }

  .examples {
    flex-wrap: nowrap;

    &__img {
      max-width: 25%;
    }
  }

  .footer__list {
    justify-content: center;
    gap: 50px;
  }

  .footer__item a:hover {
    color: $white;
    img {
      filter: brightness(0) invert(1);
    }
  }
}
